// out: false

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Outline
  --text-shadow-grey: -1.3px -1.3px 0 #414141, -1.3px 1.3px 0 #414141, 1.3px 1.3px 0 #414141;
  --text-shadow-black: -1.3px -1.3px #000, -1.3px 1.3px #000, 1.3px 1.3px #000;

  // Height
  --height-header: 4rem;
  --height-footer: 5rem;

  // Color
  --color-flicker-from: #F1D801;
  --color-flicker-to: #6bbd00;

  // Border
  --border-card-about: 1.5rem;
  --border-image-markdown: 3rem;
  --border-image-modal: 5rem;

  // Miscellaneous
  --inclination-degree: -28deg;
  --clip-size: 5rem;
}